* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    background: url('../img/photo-1482784160316-6eb046863ece.jfif') no-repeat center left / cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-menu {
    display: flex;
    text-align: center;
}

.content-menu div {
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.1rem;
    font-size: 50px;
    line-height: 1;
    margin-right: 50px;
}

.content-menu div:last-child {
    margin-right: 0;
}


@media screen and (max-width: 887px) {
    .content-menu {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .content-menu div {
        margin-right: 10px;
    }
}
